<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8" />
 <title>NG-KIOSK</title> 
<!--  <link rel="stylesheet" type="text/css" href="kiosk.css" /> -->
</head>
<body ng-app="ng-kiosk">
  <kiosk src="<%= site %>/api">
    <kiosk-nav topics="topics" />
  </kiosk>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="kiosk.js"></script>
</body>
</html>
